#mini-calendar-board-detail-top {
    height: 98%;
    width: 98%;
    border: 3px solid rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.calendar-board-detail-top-header {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.calendar-board-detail-header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(0, 0, 0, 0.5);
    font-family: GimhaeGaya;
}

.calendar-board-detail-title {
    padding: 0 30px 0 30px;
    color: rgba(0, 0, 0, 1);

    height: auto;
    width: 90%;

    font-size: 24px;
    font-weight: 600;
    line-height: 140%;

    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.calendar-board-detail-main-text {
    color: rgba(0, 0, 0, 0.7);

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
    width: 90%;
    min-height: 200px;

    /* 줄바꿈 적용 */
    white-space: pre-wrap;
}

.calendar-board-detail-top-sub-box {
    /* more 버튼의 상대적위치 지정을 위함 */
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar-board-detail-issue-date-desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: GimhaeGaya;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    border: 3px solid darkgrey;
    gap: 15px;
    padding: 5px;
}

.calendar-board-detail-issue-date {
    font-family: GimhaeGaya;
}

.calendar-board-detail-top-sub-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}