@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GimhaeGaya';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimhaeGayaR.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TmonMonsori';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 1440px;
  font-family: 'Pretendard-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="datetime-local"] {
  appearance: none;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #4CAF50;
  background-color: #fff;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="datetime-local"]:focus {
  border-color: #45a049;
  box-shadow: 0 0 10px rgba(69, 160, 73, 0.2);
  outline: none;
}

input[type="datetime-local"]:hover {
  border-color: #3e8e41;
}
