#board-detail-wrapper {
    padding: 40px 0;

    display: flex;
    justify-content: center;
}

.board-detail-container {
    width: 996px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#board-detail-top {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.board-detail-top-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-title {
    color: rgba(0, 0, 0, 1);

    font-size: 32px;
    font-weight: 600;
    line-height: 140%;
}

.board-detail-top-sub-box {
    /* more 버튼의 상대적위치 지정을 위함 */
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board-detail-write-info-box {
    display: flex;
    align-items: center;
    gap: 8px;
}

.board-detail-writer-profile-image {
    border-radius: 32px;
    width: 32px;
    height: 32px;

    background-position: 50% 50%;
    background-size: 100% 100%;
}

.board-detail-writer-nickname {
    color: rgba(0, 0, 0, 0.7);

    font-size: 16px;
    font-weight: 500;
    line-height: 140%;

    cursor: pointer;
}

.board-detail-info-divider, .board-detail-write-date {
    color: rgba(0, 0, 0, 0.4);

    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.board-detail-issue-date-desc {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: GimhaeGaya;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    border: 3px solid darkgrey;
    gap: 15px;
    padding: 5px;
}

.board-detail-issue-date {
    font-family: GimhaeGaya;
}

.board-detail-more-box {
    /* 부모 위치에서의 절대적 위치 지정 (부모: board-detail-top-sub-box) */
    position: absolute;
    top: -81px;

    /* 우측 밀착 */
    right: 0;

    /* 뒤의 more icon 보이지 않도록 함. */
    background-color: rgba(255, 255, 255, 1);

    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.board-detail-update-button {
    width: 143px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.board-detail-update-button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.25);
}

.board-detail-delete-button {
    width: 143px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: rgba(255, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 500;
    line-height: 140%;
}

.board-detail-delete-button:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.25);
}

.board-detail-top-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-main-text {
    color: rgba(0, 0, 0, 0.7);

    font-size: 18px;
    font-weight: 500;
    line-height: 150%;

    /* 줄바꿈 적용 */
    white-space: pre-wrap;
}

.board-detail-main-image {
    width: 100%;
}

#board-detail-bottom {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-bottom-button-box {
    display: flex;
    gap: 11px;
}

.board-detail-bottom-button-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.board-detail-bottom-button-text {
    color: rgba(0, 0, 0, 0.7);

    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.board-detail-bottom-favorite-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 20px 40px;
}

.board-detail-bottom-favorite-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-bottom-favorite-title {
    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.board-detail-bottom-favorite-contents {
    /* 최대 공간 차지 시 줄 바꿈 후 아래 공간에 쌓이도록 함. */
    display: flex;
    flex-wrap: wrap;

    row-gap: 20px;
    column-gap: 30px;
}

.board-detail-bottom-comment-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-bottom-comment-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 0 20px;
}

.board-detail-bottom-commnet-title {
    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 500;
    line-height: 140%;
}

.board-detail-bottom-comment-list-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.board-detail-bottom-comment-pagination-box {
    display: flex;
    justify-content: center;
}

.board-detail-bottom-comment-input-box {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.board-detail-bottom-comment-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.board-detail-bottom-comment-textarea {
    border: none;
    outline: none;
    background: none;
    resize: none;

    overflow: hidden;

    color: rgba(0, 0, 0, 1);

    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.board-detail-bottom-comment-button-box {
    display: flex;
    justify-content: flex-end;
}