#main-top-wrapper {
    padding: 80px 0 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.main-top-container {
    width: 90%;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
}

.main-top-title {
    color: rgba(0, 0, 0, 1);
    text-align: center;
    font-family: GimhaeGaya;
    font-size: 64px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -0.8px;
    white-space: pre-wrap;
}

.main-top-contents-box {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    background-color: rgba(0, 0, 0, 0.05);
}

.main-top-contents-title {
    margin-top: 24px;
    color: rgba(0, 0, 0, 1);
    font-family: TmonMonsori;
    font-size: 48px;
    font-weight: 500;
    line-height: 140%;
}

.main-top-contents-rank {
    /*position: absolute;*/
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.5); /* Border color */
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; /* Background color for better visibility */
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.carousel-box {
    width: 97%;
    margin-bottom: 24px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 33.33%; /* 100% / 3 items */
    justify-content: space-around;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    z-index: 10;
    cursor: pointer;
}

.carousel-button.left {
    left: 0;
}

.carousel-button.right {
    right: 0;
}

#main-middle-wrapper {
    padding: 40px 0;
    width: 100%;
    height: 90%;
    min-height: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-middle-calendar-box {
    width: 90%;
    min-width: 1200px;
    height: 90%;
    min-height: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-bottom-wrapper {
    padding: 40px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);
}

.main-bottom-container {
    width: 90%;
    height: 100%;
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-bottom-title {
    color: rgba(0, 0, 0, 1);
    font-size: 48px;
    font-weight: 700;
    line-height: 140%;
}

.main-bottom-contents-box {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 24px;
}

.main-bottom-current-contents {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.main-bottom-popular-box {
    grid-column: 2 / 3;
}

.main-bottom-popular-card {
    padding: 24px;
    background-color: rgba(255, 255, 255, 1);

}

.main-bottom-popular-card-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.main-bottom-popular-card-title {
    color: rgba(0, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    line-height: 140%;
}

.main-bottom-popular-card-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.main-bottom-pagination-box {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}